body {
    background: #1F2937;
    margin: 0;
    width: auto;
    height: auto;
    text-align: center;
}
#toggle{
    background: none;
    border: none;
    padding-top: 10px;

}
.dark-mode {
    background: #ECFDF5;
    #top{
        color: #1C1C1C;
    }
    #below-top{
        color: #10B981;
    }
    #para{
        color: #6B7280;
    }
    #checkbox{
        color:#1F2937;
    }
    #toggle path{
        
        fill: #1F2937;
    }
    #line{
        background:#D5D4D8;
    }
    #copy-button g{
        stroke:#1F2937;
    }

}

@font-face {
    font-family: karla;
    src: url("./fonts/Karla-VariableFont_wght.ttf");
}
@font-face {
    font-family: inter;
    src: url("./fonts/Inter-VariableFont_slnt\,wght.ttf");
}

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.align-center{
    align-items: center;
}
.justify-end{
    justify-content: end;
}
.align-end{
    align-items: end;
}
#top{
    color: var(--white, #FFF);
    font-family: karla;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px; /* 100% */
    letter-spacing: -1px;
    margin-bottom: 0px;
}
#below-top{
    margin: 0px;
    color: #4ADF86;
    font-family: karla;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -1px;
}
#para{
    margin: 10px 0px 50px 0px;
    color: var(--medium-grey, #D5D4D8);
    /* text-xl/leading-7/font-normal */
    font-family: inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
}

#gpass{
    margin: 0px 0px 35px 0px;

    display: inline-flex;
    padding: 9px 17px 9px 15px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    border: none;
    background: #10B981;
    /*text property*/
    color: var(--white, #FFF);
    /* text-base/leading-6/font-medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

#checkbox{
    color: whitesmoke;
    margin-bottom: 25px;
    font: bold;
    font-family: inter;
}

#line{
    width: 450px;
    margin: 0px auto;
    height: 1px;
    background: #2F3E53; 

}

.Container1{
    margin: 35px 25px 0px 0px;

}
.Container2{
    margin: 35px 25px 0px 5px;

}

.pass{
    /* margin: 35px 25px 0px 0px; */
    
    width: 211px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #273549;
    
    /*text properties*/
    color: #55F991;
    font-size: 16px;
    text-align: center;
    align-items: center;
}
#copy-button{
 display: flex;
 background: none;
 position: relative;
 border: none;
 margin-bottom: 4px;
}
#copy-button g{
    stroke: #ECFDF5;
}







@media only screen and (max-width: 600px) {
    body{
        text-align: center;
        margin-left: 10px;
    }
    .top{
        text-align: start;
    }
    .Containers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
    }
  }